body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  .mainContainer {
    border: 0.4px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .search-books {
    margin: auto;
    padding: auto;
    font-size: 10px;
  }
  
  .container {
    border: 0.4px solid lightgray;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .filter-box {
    width: 18%;
    border: 0.4px solid lightgray;
    height: 200px;
    font-weight: 400;
    line-height: 1.25;
    color: #100a24;
    font-size: 16px;
  }
  
  .filter-header-category {
    border: 0.4px solid lightgray;
    font-size: 14px;
    background-color: lightgray;
  }
  
  .filter-category {
    border: 1px solid gray;
    font-size: 14px;
    border: 0.4px solid lightgray;
  }
  
  .search-result-box {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    border: 0.4px solid lightgray;
    gap: 12px;
    align-items: flex-end;
  }
  
  
.book-cover {
    height: 300px;
    width: 200px;
    object-fit: cover;
    object-position: center;
  }
  .book-title {
      font-family: sans-serif;
      font-size: 16px;
  }
  .book-author {
    font-family: sans-serif;
    font-size: 16px;
  }
  .buy-link-button {
    font-family: sans-serif;
    background-color: #ed1c24;
    width: 100%;
    display: flex;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    gap: 58px;
    padding: 15px 2px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
  
  .discount-banner {
    background-color: #e81121;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    position: relative;
    height: 20px;
    line-height: 20px;
    width: 100%;
  }
  