
.discount-banner {
    background-color: #ff0000; /* Red background color */
    color: #ffffff; /* White font color */
    text-align: center;
    padding: 10px; /* Adjust padding for better visibility */
    font-size: 16px;
    position: relative;
    height: 20px;
    line-height: 20px;
    width: 100%;
  }

